body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif

  }
  /* #toolbar {
    background-color: brown;
    width: 700px;
    height: 200px;
    display: inline-block;
  } */

  .items{
    width: 800px; 
    height: 300px; 
    display: inline-block;
    background-color: yellow;
  }